.header {
    background-color: #333;
    height: 60px;
}

.header ul {
    display: flex;
    justify-content: flex-end;
}

.header a {
    padding: 0 15px 0 15px;
    line-height: 60px;
    font-size: 16px;
    color: white;
    border-right: 1px solid white;
}

.header li:last-child a {
    border: 0;
}

.header li .iconfont {
    margin-right: 4px;
    vertical-align: middle;
}

.header li .login {
    color: #5eb69c;
}

.header2 {
    height: 88px;
    margin: 22px 0;
}

.header2 .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header2 img {
    display: block;
    width: 200px;
    height: 88px;
    margin-right: 41px;
}

.header2 .nav {
    margin-right: 75px;
    width: 673px;
}

.header2 .nav ul {
    display: flex;
    justify-content: space-between;
}


.header2 .nav li a {
    font-size: 16px;
    color: #333;
}

.header2 .search {
    display: flex;
    padding-bottom: 10px;
    margin-right: 45px;
    width: 170px;
    border-bottom: 2px solid #f4f4f4;
}

.header2 .search .iconfont {

    margin-right: 8px;
}

.header2 .cart .iconfont {
    display: inline-block;
    font-size: 24px;
    position: relative;
}

.header2 .cart .count {
    position: absolute;
    top: 0;
    right: -10px;
    display: inline-block;

    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #fffefe;

    width: 20px;
    height: 15px;
    background: #E26237;
    border-radius: 7.5px;
}

.banner {
    background-color: #f5f5f5;
    height: 500px;
}

.banner .wrapper {
    position: relative;
}

.banner .list {
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
}


.banner .list li a {
    background-color: rgba(0, 0, 0, 0.42);
    height: 50px;
    line-height: 50px;
    width: 250px;
    display: block;
    padding-left: 29px;
    padding-right: 12px;
    color: #fff;
    position: relative;
}

.banner .list li a span.iconfont {
    position: absolute;
    right: 10px;
    padding-right: 0;
}

.banner .list li a .first {
    font-size: 16px;
    margin-right: 14px;
    vertical-align: middle;
}

.banner .list li a .second {
    font-size: 14px;
}


.banner .huadong {
    position: absolute;
    bottom: 17px;
    right: 17px;
}

.banner .huadong ul {
    display: flex;
}

.banner .huadong .big {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner .huadong .small {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
}

.banner .huadong ul li:first-child .big {
    background-color: rgba(0, 0, 0, 0.5);

}

.hot {
    background-color: #f5f5f5;
    height: 468px;
}

.hot .hd {
    padding-top: 40px;
}

.hot .arrow {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.hot .arrow span.iconfont {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 20px;
}


.hot .bd img {
    width: 244px;
    height: 306px;
}



.sx {
    margin-top: 60px;
    margin-bottom: 60px;
}


.sx .hd ul {
    display: flex;
    /* justify-content: flex-end; */
}

.sx .hd ul a {
    font-size: 16px;
    color: white;
    display: inline-block;
    margin-right: 10px;
    padding: 0 4px;
    background-color: #00be9a;

}


.sx .bd {
    display: flex;
    justify-content: space-between;
}



.sx .bd .left {
    width: 248px;
    height: 610px;
}

.sx .bd .right {
    margin-left: 24px;
    height: 610px;

}

.sx .bd .right ul {
    flex-wrap: wrap;
}

.sx .bd .right a {
    display: inline-block;
    font-size: 16px;
    padding: 15px 20px 0 20px;
    width: 242px;
    position: relative;

}

.sx .bd .right li:nth-child(1) a {
    border: 2px solid rgba(0, 190, 154, 1);
}

.sx .bd .right li:nth-child(1) a .green {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #00BE9A;
    width: 242px;
    height: 80px;
    text-align: center;
    color: white;
    padding-top: 10px;
}


.sx .bd .right li:nth-child(1) a .green h4 {
    padding-bottom: 10px;
}

.sx .bd .right li:nth-child(1) a .green .line {
    border: 1px solid #999;
    width: 150px;
    height: 0;
    margin: 0 auto;
}

.sx .bd .right li:nth-child(1) a .green p {
    margin-top: 10px;
}



.sx .bd .right a img {
    width: 190px;
    height: 171px;
}


.sx .bd .right a span {
    display: inline-block;
    font-size: 22px;
    color: #af2f22;
}

.latest .bd ul {
    display: flex;
    justify-content: space-between;
}

.latest .bd ul li {
    position: relative;
}

.latest .bd ul li a {
    display: inline-block;
    width: 405px;
}

.latest .bd ul li a img {
    height: 288px;
    margin-bottom: 23px;
}

.latest .bd ul li  .zhe {
    position: absolute;
    top: 0;
    left: 0;
    width: 405px;
    height: 288px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
}

.latest .bd ul li  .zhe2 {
    height: 100%;
    position: relative;
    color: white;
    
}

.latest .bd ul li  .zhe2 .right{
    position: absolute;
    bottom: 15px;
    right:  10px;
    font-size: 18px;

    color: #aa2113;
    width: 79px;
    height: 25px;
    background-color: white;
}

.latest .bd ul li  .zhe2 .left{
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 20px;
}

.latest .bd ul li  .zhe2 .left .p2{
    font-size: 16px;
}

.latest .bd .love span {
    display: inline-block;
    margin-right: 10px;
}

.latest .bd .love span.icon-comment {
    margin-left: 213px;
}

.foot {
    margin-top: 60px;
    background-color: #f5f5f5;
    padding: 60px 0;

}

.foot .line {
    margin: 60px auto;
    border: 0.5px solid #e8e8e8;
    height: 0;
}

.foot .sprite ul {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}



.foot .sprite ul li {
    display: flex;
    gap: 10px;
    position: relative;
}


.foot .sprite ul li .img {
    width: 58px;
    height: 58px;
    background: url(./images/sprite.png) no-repeat;
}

.foot .sprite ul li:nth-child(2) .img {
    width: 58px;
    height: 58px;
    background: url(./images/sprite.png) no-repeat;
    background-position: 0 -58px;
}

.foot .sprite ul li:nth-child(3) .img {
    width: 58px;
    height: 58px;
    background: url(./images/sprite.png) no-repeat;
    background-position: 0 -116px;
}

.foot .sprite ul li:nth-child(4) .img {
    width: 58px;
    height: 58px;
    background: url(./images/sprite.png) no-repeat;
    background-position: 0 -174px;
}


.foot .sprite ul li h3 {
    color: #333;
    font-weight: 400;
    font-size: 28px;
}

.foot .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.foot .info .left {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #333;
    gap: 84px;
}


.foot .info .left dt {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.foot .info .left dd {
    margin-bottom: 5px;
}

.foot .info .right ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.foot .info .right ul img {
    width: 120px;
    height: 120px;
}

.foot .info .right ul p {
    text-align: center;
}

.foot .copyright {
    width: 611px;
    margin: 0 auto;
    color: #999;
    font-size: 16px;
}

.foot .copyright ul {
    display: flex;
}

.foot .copyright ul a {
    color: #999;
    font-size: 16px;
    display: inline-block;
    border-right: 1px solid #999;
    padding: 0 10px;
}

.foot .copyright ul li:last-child a {
    border: 0;
}

.foot p {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;

}
