*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header {
  height: 1.17333333rem;
  width: 10rem;
  margin-top: 0.26666667rem;
  padding-left: 0.45333333rem;
  padding-right: 0.4rem;
  display: flex;
  justify-content: space-between;
  height: 0.64rem;
  line-height: 0.64rem;
}
header span {
  font-size: 0.45333333rem;
}
header h3 {
  font-size: 0.45333333rem;
}
header .record {
  color: #2CB5A5;
  font-size: 0.4rem;
}
.banner {
  margin-top: 0.8rem;
  text-align: center;
}
.banner img {
  width: 6.4rem;
  height: 5.49333333rem;
}
.banner h4 {
  margin-top: 0.48rem;
  font-size: 0.42666667rem;
}
.banner h4 span {
  color: #16C2A3;
}
ul {
  margin: 0 0.4rem;
  margin-top: 0.93333333rem;
}
ul li {
  margin-bottom: 0.26666667rem;
}
ul li a {
  display: block;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  border: 0.01333333rem solid #eee;
  align-items: center;
}
ul li a img {
  width: 1.06666667rem;
  height: 1.06666667rem;
}
ul li a .mid {
  margin-left: 0.13333333rem;
  flex: 1;
  font-size: 16px;
}
ul li a .mid p {
  margin-top: 0.4rem;
  font-size: 13px;
}
